/*coment*/
.about {
  position: relative;
  margin-bottom: 26px;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  /*width: 260px;
  margin: 0 auto;*/
  width: auto;
  padding-left: 8.6%;
  padding-right: 8.6%;
}

.about__title {
  @include margin-padding-reset;
  padding-top: 27px;
  padding-bottom: 32px;
  font-size: 25px;
  line-height: 30px;
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  color: $color-about-title;
}

.about__list {
  @include list-reset;
  font-size: 17px;
  line-height: 20px;
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  color: $color-about-list-text;
}

.about__item {
  padding-top: 55px;
  padding-bottom: 28px;
}

.about__item--ecology {
  position: relative;
  width: 175px;
}

.about__item--scandinavian {
  position: relative;
  width: 200px;
}

.about__item--likes {
  position: relative;
  width: 181px;
}

.about__item--handmade {
  position: relative;
  width: 211px;
}

.about__item--domestic {
  position: relative;
  width: 251px;
}

.about__item--pack {
  position: relative;
  width: 198px;
}

.about__item--ecology::before {
  content: "";
  position: absolute;
  top: 0;
  left: 8px;
  width: 31px;
  height: 37px;
  background-image: url("../img/icon-feature-flower.svg");
  background-repeat: no-repeat;
  background-size: 31px 37px;
}

.about__item--scandinavian::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  width: 46px;
  height: 27px;
  background-image: url("../img/icon-feature-money.svg");
  background-repeat: no-repeat;
  background-size: 46px 27px;
}

.about__item--likes::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 7px;
  width: 33px;
  height: 27px;
  background-image: url("../img/icon-feature-heart.svg");
  background-size: 33px 27px;
}

.about__item--handmade::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  width: 34px;
  height: 34px;
  background-image: url("../img/icon-feature-ball.svg");
  background-repeat: no-repeat;
  background-size: 34px 34px;
}

.about__item--domestic::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -5px;
  width: 54px;
  height: 23px;
  background-image: url("../img/icon-feature-rocket.svg");
  background-repeat: no-repeat;
  background-size: 54px 23px;
}

.about__item--pack::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 4px;
  width: 32px;
  height: 32px;
  background-image: url("../img/icon-feature-gift.svg");
  background-repeat: no-repeat;
  background-size: 32px 32px;
}

@media (min-width: $tablet-width) {
  .about__wrapper {
    /*width: 668px;
    margin: 0 auto;*/
    width: auto;
    padding-left: 06%;
    padding-right: 06%;
  }

  .about__title {
    @include margin-padding-reset;
    padding-bottom: 48px;
    font-size: 43px;
    line-height: 50px;
  }

  .about__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about__item {
    padding-top: 55px;
    padding-bottom: 56px;
    padding-left: 2px;
    font-size: 20px;
    line-height: 22px;
  }

  .about__item--ecology {
    order: 0;
    width: 205px;
    padding-right: 125px;
  }

  .about__item--scandinavian {
    order: 3;
    width: 235px;
    padding-right: 95px;
  }

  .about__item--likes {
    order: 5;
    width: 212px;
    padding-right: 120px;
  }

  .about__item--handmade {
    order: 2;
    width: 248px;
  }

  .about__item--domestic {
    order: 4;
    width: 295px;
  }

  .about__item--pack {
    order: 6;
    width: 233px;
  }

  .about__item--ecology::before {
    top: 1px;
    left: 9px;
  }

  .about__item--handmade::before {
    top: 4px;
    left: 6px;
  }

  .about__item--scandinavian::before {
    top: 2px;
  }

  .about__item--domestic::before {
    top: 5px;
    left: -4px;
  }

  .about__item--likes::before {
    top: 7px;
    left: 8px;
  }

  .about__item--pack::before {
    top: 3px;
  }
}

@media (min-width: $desktop-width) {
  .about {
    margin-bottom: 25px;
  }

  .about__wrapper {
    width: 1050px;
    margin: 0 auto;
    padding: 0;
  }

  .about__title {
    padding-bottom: 49px;
    font-size: 53px;
    line-height: 57px;
    font-family: "Open-Sans-Bold", "Arial", sans-serif;
  }

  .about__title,
  .about__list {
    padding-left: 170px;
  }

  .about__item {
    margin-right: 12px;
    margin-left: 4px;
    padding-top: 54px;
    padding-bottom: 57px;
  }

  .about__item--ecology::before {
    top: 0;
    left: 11px;
  }

  .about__item--handmade::before {
    top: 3px;
  }

  .about__item--scandinavian::before {
    left: 3px;
  }

  .about__item--domestic::before {
    top: 4px;
  }

  .about__item--likes::before {
    top: 5px;
    left: 9px;
  }
}
