/*coment*/
.catalog-header {
  position: relative;
  display: flex;
  flex-direction: column;
}

.catalog-header__title {
  @include margin-padding-reset;
  color: $catalog-headet-title-color;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  padding-left: 20px;
  padding-top: 16px;
  padding-bottom: 30px;
}

.catalog-header::before {
  position: absolute;
  content: "";
  top: 0;
  width: 100vw;
  height: 1px;
  background-color: #e6e6e6;
}

@media (min-width: $tablet-width) {
  .catalog-header::before {
    display: none;
  }

  .catalog-header__title {
    width: 435px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    padding-top: 50px;
    padding-bottom: 39px;
    padding-left: 30px;
  }
}
