/*coment*/
.catalog-title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  background-color: $color-catalog-background-title;
}

.catalog-title__main-title {
  @include margin-padding-reset;
  color: $color-catalog-title;
  width: 240px;
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  font-size: 27px;
  line-height: 30px;
  padding-top: 70px;
  padding-bottom: 75px;
}

@media (min-width: $tablet-width) {
  .catalog-title__main-title {
    width: 380px;
    font-family: "Open-Sans-Bold", "Arial", sans-serif;
    font-size: 43px;
    line-height: 50px;
    padding-top: 95px;
    padding-bottom: 78px;
  }

  .catalog-title {
    position: relative;
    background-position: -6px bottom;
    background-size: auto 23px;
    margin-top: -69px;
    margin-bottom: 70px;
    padding-bottom: 11px;
  }

  .catalog-title::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 24px;
    max-height: 34px;
    margin-top: 2.95652%;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: 768px 100%;
    background-position: 50% 100%;
  }
}

@media (min-width: $desktop-width) {
  .catalog-title {
    font-size: 53px;
    line-height: 57px;
    padding-bottom: 43px;
    margin-top: -71px;
    margin-bottom: 110px;
    background-size: auto 34px;
  }

  .catalog-title::after {
    bottom: -2px;
    height: 37px;
    max-height: 37px;
    padding-top: 0;
    background-repeat: repeat-x;
    background-position: 50% 50%;
    background-size: 1150px 100%;
  }

  .catalog-title__main-title {
    display: flex;
    justify-content: center;
    width: 470px;
    padding-left: 2px;
    padding-top: 94px;
    font-family: "Open-Sans-Bold", "Arial", sans-serif;
    font-size: 53px;
    line-height: 57px;
  }
}
