/*coment*/
.copyright__text {
  color: $copyright-text-color;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.copyright__logo-htmlacademy {
  margin-top: -8px;
}
