/*coment*/
.example--background {
  background-color: $example-background-color;
  padding-bottom: 36px;
}

.example__wrapper {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.example__title {
  @include margin-padding-reset;
  color: $example-title-color;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  padding-top: 16px;
  padding-bottom: 23px;
}

.example__description {
  @include list-reset;
  width: 266px;
  color: $example-description-color;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-bottom: 25px;
}

.example__mass,
.example__day {
  color: $example-mass-color;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 9px;
}

.example__weight,
.example__time {
  color: $example-weight-color;
  background-color: $example-weight-time-background-color;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  width: 80px;
  text-align: center;
  z-index: 10;
}

.example__cost {
  @include margin-padding-reset;
  color: $example-coast-color;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding-left: 47px;
  padding-bottom: 35px;
}

.example__cost span {
  @include margin-padding-reset;
  padding-left: 3px;
}

.example__button {
  color: $example-button-text-color;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  padding: 0;
  background-color: $example-button-background-color;
}

.example__result-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  //padding-bottom: 20px;
}

.example__result {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 124px;
  padding-bottom: 18px;
}

.example__result::before {
  position: absolute;
  content: "";
  top: 0;
  width: 122px;
  height: 54px;
  border: 1px solid $example-result-before-color;
  border-radius: 3px;
  background-color: transparent;
  z-index: 1;
}

.example__after {
  display: none;
}

.example__img {
  margin-left: -21px;
  width: 320px;
  max-width: 320px;
  height: auto;
  z-index: 10;
  padding-bottom: 28px;
}

.example__controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
}

.example__rectangle {
  position: relative;
  margin-left: 18px;
  margin-right: 18px;
  width: 82px;
  height: 12px;
  background-color: $example-rectangle-background-color;
  border: 1px solid $example-rectangle-border-color;
  border-radius: 6px;
  cursor: pointer;
  z-index: 10;
}

.example__rectangle::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 6px;
  width: 35px;
  height: 6px;
  background-color: $example-rectangle-before-color;
  border-radius: 3px;
}

@media (min-width: $tablet-width) {
  .example {
    position: relative;
  }

  .example--background {
    background-color: $example-backgroun-color-tablet;
  }

  .example__wrapper {
    width: 708px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
  }

  .example::before {
    position: absolute;
    content: "";
    top: 600px;
    left: 0;
    height: 462px;
    width: 50%;
    background-color: $example-before-background-color;
    z-index: 1;
  }

  .example::after {
    position: absolute;
    content: "";
    top: 600px;
    right: 0;
    width: 50%;
    height: 462px;
    background-color: $example-after-background-color;
    z-index: 1;
  }

  .example__title {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    padding-top: 22px;
    padding-bottom: 65px;
  }

  .example__description {
    width: 678px;
    height: 64px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 60px;
  }

  .example__mass,
  .example__day {
    font-size: 30px;
    font-weight: 400;
    line-height: 37.02px;
    padding-top: 8px;
    padding-bottom: 11px;
    //margin-top: -9px;
  }

  .example__weight,
  .example__time {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    background-color: $example-backgroun-color-tablet;
  }

  .example__cost {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: right;
    width: 192px;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    padding-top: 9px;
    margin-left: 58px;
  }

  .example__cost span {
    width: 92px;
  }

  .example__result-wrapper {
    justify-content: flex-start;
    margin-bottom: 57px;
  }

  .example__result {
    width: 160px;
    margin-right: 45px;
  }

  .example__result::before {
    width: 160px;
    height: 72px;
  }

  .example__wrapper-before-after {
    position: relative;
    width: 708px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .example__weight {
    width: 115px;
  }

  .example__time {
    width: 140px;
  }

  .example__before {
    position: relative;
    display: flex;
    width: 317px;
    //right: 29px;
    min-height: 677px;
    overflow: hidden;
    z-index: 2;
  }

  /*.example__before picture {
    width: 100%;
    height: 677px;
  }

  .example__after picture {
    width: 100%;
    height: 677px;
  }*/

  .example__after {
    position: relative;
    display: flex;
    width: 317px;
    //right: 29px;
    min-height: 677px;
    overflow: hidden;
    z-index: 20;
  }

  .example__img {
    width: 690px;
    max-width: 690px;
  }

  .example__after .example__img {
    transform: translateX(-46%);
  }

  .example__controls {
    justify-content: flex-start;
    padding-left: 68px;
    position: relative;
    margin-top: -141px;
    margin-bottom: 50px;
    z-index: 30;
  }

  .example__button--before,
  .example__button--after {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }

  .example__rectangle {
    margin-left: 23px;
    margin-right: 23px;
    width: 426px;
    height: 6px;
  }

  .example__rectangle::before {
    position: absolute;
    content: "";
    top: -13px;
    left: 197px;
    width: 32px;
    height: 32px;
    background-color: $example-rectangle-background-before-color;
    border: 1px solid $example-rectangle-border-before-color;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(80, 80, 80, 0.15);
  }

  .example__rectangle::after {
    position: absolute;
    content: "";
    left: 210px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $example-rectangle-background-after-color;
  }
}

@media (min-width: $desktop-width) {
  .example {
    display: flex;
    padding-bottom: 27px;
  }

  .example__wrapper {
    width: 1220px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
  }

  .example__result-wrapper {
    width: 420px;
  }

  .example__title {
    padding-bottom: 146px;
  }

  .example__description {
    position: relative;
    z-index: 2;
    width: 434px;
    padding-bottom: 100px;
  }

  .example__cost {
    position: relative;
    justify-content: flex-start;
    z-index: 2;
    width: 420px;
    padding-top: 33px;
    padding-left: 0;
    margin-left: 0;
    text-align: left;
  }

  .example__cost span {
    padding-left: 64px;
  }

  .example__mass,
  .example__day {
    position: relative;
    z-index: 2;
    padding-top: 15px;
  }

  .example__before {
    width: 380px;
  }

  .example__wrapper-before-after {
    width: auto;
    margin-top: -675px;
    margin-left: 589px;
  }

  .example__after .example__img {
    margin-left: -45px;
  }

  .example__after picture {
    width: 0;
    height: 0;
  }

  .example__controls {
    justify-content: flex-end;
    padding-top: 22px;
  }

  .example::before,
  .example::after {
    top: 158px;
  }

  .example__weight,
  .example__time {
    background-color: $example-before-background-color;
  }
}
