/*coment*/
.form-header__title {
  @include margin-padding-reset;
  color: $form-header-title-color;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  padding-top: 16px;
  padding-bottom: 25px;
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .form-header__title {
    width: 708px;
    margin: 0 auto;
    padding-left: 0;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    padding-top: 51px;
    padding-bottom: 56px;
  }
}

@media (min-width: $desktop-width) {
  .form-header__title {
    width: 1220px;
    margin: 0 auto;
    padding-top: 68px;
  }
}
