.form {
  padding-bottom: 3px;
}

.form__wrapper {
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.form__description {
  @include margin-padding-reset;
  width: 228px;
  color: $form-description-color;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.form__element {
  @include margin-padding-reset;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.form__input-text {
  @include margin-padding-reset;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  width: 172px;
  flex-grow: 1;
  border: 1px solid $form-element-input-border-color;
  color: $form-element-color-input;
  background-color: $form-input-text-input-background-color;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  box-sizing: border-box;
}

.form__input-text:hover {
  border-color: $form-input-text-hover-border-color;
}

.form__input-text:active {
  outline: 2px solid $form-input-text-active-outline-color;
}

.form__input-text:focus {
  outline: 2px solid $form-input-text-active-outline-color;
}

.form__comment-area {
  width: 100%;
  min-height: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 14px;
  padding-right: 10px;
  box-sizing: border-box;
  border: 1px solid $form-comment-area-border-color;
  color: $form-coment-area;
  background-color: $form-comment-area-background-color;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.form__comment-area:hover {
  border-color: $form-input-text-hover-border-color;
}

.form__comment-area:active {
  outline: 2px solid $form-input-text-active-outline-color;
}

.form__comment-area:focus {
  outline: 2px solid $form-input-text-active-outline-color;
}

.form__label {
  color: $form-element-color-label;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  white-space: nowrap;
}

.form__element--mail:active svg,
.form__element--phone:active svg {
  fill: $form-element-mail-phone-active-svg-fill;
  transition: fill 0.5s ease;
}

.form__mail-icon {
  position: absolute;
  right: 15px;
}

.form__phone-icon {
  position: absolute;
  right: 12px;
}

.form__programm-items {
  @include list-reset;
  color: $form-program-items;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.form__items-title,
.form-coment__title {
  @include margin-padding-reset;
  color: $form-items-title;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.form__items-title {
  position: relative;
}

.form__items-title span {
  display: block;
  box-sizing: border-box;
  width: 200px;
  padding-bottom: 25px;
  background-color: $form-items-title-span-background-color;
}

.form__items-title::before {
  position: absolute;
  content: "";
  width: calc(100% + 20px);
  height: 3px;
  background-color: $form-items-title-before-line-color;
  top: 13px;
  z-index: -1;
}

.form__extra-fields-title {
  @include margin-padding-reset;
  position: relative;
  color: $form-extra-fields-title;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 40px;
}

.form__extra-fields-title span {
  padding-bottom: 25px;
  background-color: $form-extra-fields-title-span-background-color;
  padding-right: 20px;
}

.form-coment__title::before {
  position: absolute;
  content: "";
  width: calc(100% + 20px);
  height: 3px;
  background-color: $form-coment-title-before-beforebackground-color;
  top: 14px;
  z-index: -1;
}

.form__extra-fields-title::before {
  position: absolute;
  content: "";
  width: calc(100% + 20px);
  height: 3px;
  background-color: $form-extra-fields-title-beforebackground-color;
  top: 14px;
  z-index: -1;
}

.form__extra {
  @include list-reset;
  color: $form-extra;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.form__button {
  width: 100%;
  color: $form-button;
  display: flex;
  justify-content: center;
  background-color: $form-button-background-color;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.form__button:hover {
  background-color: $form-button-hover-active-background-color;
  transition: 0.5s, background 0.5s ease;
}

.form__button:active {
  background-color: $form-button-hover-active-background-color;
  color: $form-button-active-color;
  transition: 0.5s, background 0.5s ease, color 0.5s ease;
}

.form__note {
  @include margin-padding-reset;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 31px;
  color: $form-note-color;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.form__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 29px;
}

.form__item::after {
  position: absolute;
  content: "";
  width: 100vw;
  height: 1px;
  background-color: $form-item-after-background-color;
  bottom: 21px;
  left: -20px;
}

.form__item-mass {
  position: relative;
  padding-bottom: 35px;
}

.form__item-mass::after {
  position: absolute;
  content: "";
  width: 100vw;
  height: 1px;
  background-color: $form-item-mass-background-color;
  left: -20px;
  bottom: 28px;
}

.form__label--cat-name {
  margin-right: 14px;
}

.form__label--weight {
  margin-right: 16px;
}

.form__label--age {
  margin-right: 14px;
}

.form__programm-item {
  padding-left: 45px;
  padding-top: 5px;
  padding-bottom: 20px;
}

.form__programm-item label {
  cursor: pointer;
}

.form__programm-item label:hover::before {
  border-color: $form-programm-item-label-hover-border-color;
  transition: border-color 0.5s ease;
}

.form__programm-item label:active::before {
  border-color: $form-programm-item-label-active-border-color;
  transition: border-color 0.5s ease;
}

.form__programm-item input:checked + label:active::after {
  background-color: $form-programm-item-label-checked-background-color;
  transition: background-color 0.5s ease;
}

.form__programm-label,
.form__input-text {
  position: relative;
}

.form__programm-label::before {
  position: absolute;
  content: "";
  top: -4px;
  left: -46px;
  width: 30px;
  height: 30px;
  border: 1px solid $form-programm-label-before-border-color;
  border-radius: 50%;
}

.form__input-radio:checked + label::after {
  position: absolute;
  content: "";
  top: 6px;
  left: -36px;
  width: 12px;
  height: 12px;
  background-color: $form-input-radio-checked-background-color;
  border-radius: 50%;
}

.form__label--email {
  margin-right: 11px;
}

.form__label-phone {
  margin-right: 10px;
}

.form__item-data {
  padding-bottom: 14px;
}

.form-coment__title {
  position: relative;
  padding-bottom: 34px;
}

.form-coment__title span {
  padding-bottom: 25px;
  background-color: $form-coment-title-span-background-color;
  padding-right: 20px;
}

.form-coment {
  padding-bottom: 23px;
}

.form__extra-item {
  padding-left: 46px;
  padding-bottom: 25px;
}

.form__extra-item label {
  cursor: pointer;
}

.form__extra-item label:hover::before {
  border-color: $formextra-item-label-hover-border-color;
  transition: border-color 0.5s ease;
}

.form__extra-item label:active::before {
  border-color: $formextra-item-label-active-border-color;
  transition: border-color 0.5s ease;
}

.form__input-extra:checked + label:active::after {
  border-color: $formextra-item-label-active-border-color;
  opacity: 0.3;
  transition: border-color 0.5s ease, opacity 0.5s;
}

.form__label--extra {
  position: relative;
}

.form__label--extra::before {
  position: absolute;
  content: "";
  top: -2px;
  left: -45px;
  width: 28px;
  height: 28px;
  border: 1px solid $form-label-extra-before-border-color;
}

.form__input-extra:checked + label::after {
  position: absolute;
  content: "";
  top: 5px;
  left: -41px;
  width: 21px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
}

.form__extra-fields {
  padding-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .form {
    margin-bottom: 72px;
    padding-bottom: 0;
  }

  .form__wrapper {
    width: 708px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
  }

  .form__description {
    width: 328px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 40px;
    padding-bottom: 65px;
  }

  .form__label {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }

  .form__input-text {
    padding-top: 9px;
    padding-bottom: 11px;
    border: 1px solid $form-element-input-border-color;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 18px;
    padding-right: 15px;
  }

  .form__element {
    padding-left: 39px;
    padding-right: 36px;
    margin-bottom: 20px;
  }

  .form__label--weight {
    padding-left: 3px;
    margin-right: 18px;
  }

  .form__label--age {
    padding-left: 3px;
    margin-right: 16px;
  }

  .form__item::after,
  .form__item-mass::after {
    display: none;
  }

  .form__mail-icon {
    position: absolute;
    right: 55px;
  }

  .form__phone-icon {
    position: absolute;
    right: 52px;
  }

  .form__item {
    padding-bottom: 0;
    margin-bottom: 53px;
  }

  .form__programm-item {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 87px;
    padding-top: 7px;
    padding-bottom: 26px;
  }

  .form__item-mass {
    border: 1px solid $form-item-mass-border-color;
    margin-left: 40px;
    margin-right: 38px;
    padding-top: 25px;
    padding-bottom: 9px;
    margin-bottom: 50px;
  }

  .form__programm-label::before {
    top: -4px;
    left: -59px;
    width: 39px;
    height: 39px;
  }

  .form__input-radio:checked + label::after {
    top: 8px;
    left: -47px;
    width: 18px;
    height: 18px;
  }

  .form__items-title {
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    padding-top: 24px;
    padding-left: 39px;
    padding-bottom: 77px;
  }

  .form__items-title span {
    width: 520px;
  }

  .form__items-title::before {
    width: 145px;
    left: 593px;
    top: 47px;
  }

  .form__items-title::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    background-color: $form-items-title-after-background-color;
    top: 47px;
    left: -30px;
  }

  .form__label--email {
    padding-left: 2px;
    margin-right: 20px;
  }

  .form__label--cat-name {
    padding-left: 2px;
    margin-right: 16px;
  }

  .form__label-phone {
    margin-right: 15px;
  }

  .form__item-data {
    padding-bottom: 0;
    margin-bottom: 30px;
  }

  .form-coment__title {
    width: 177px;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    padding-top: 35px;
    padding-bottom: 76px;
    padding-left: 39px;
  }

  .form-coment__title::before {
    top: 57px;
    width: 480px;
    left: 258px;
  }

  .form-coment__title::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    background-color: $form-coment-title-after-background-color;
    top: 57px;
    left: -30px;
  }

  .form__comment-area {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    min-height: 174px;
    width: 631px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 10px;
    padding-left: 18px;
    padding-bottom: 20px;
  }

  .form-coment {
    padding-bottom: 0;
    margin-bottom: 40px;
  }

  .form__extra-fields {
    padding-bottom: 0;
  }

  .form__extra-fields-title {
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    padding-top: 20px;
    padding-left: 39px;
    padding-bottom: 50px;
  }

  .form__extra-fields-title::before {
    top: 42px;
    width: 446px;
    left: 292px;
  }

  .form__extra-fields-title::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    background-color: $form-extra-fields-title-after-background-color;
    top: 42px;
    left: -30px;
  }

  .form__extra {
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
    margin-bottom: 10px;
  }

  .form__extra-item {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    width: 220px;
    margin-bottom: 28px;
  }

  .form__extra-item:nth-child(odd) {
    margin-right: 78px;
    padding-left: 98px;
  }

  .form__label--extra::before {
    top: -4px;
    left: -58px;
    width: 38px;
    height: 38px;
  }

  .form__input-extra:checked + label::after {
    top: 8px;
    left: -48px;
  }

  .form__button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .form__button {
    width: 283px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 17px;
    margin-left: 40px;
  }

  .form__note {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    padding-top: 8px;
    padding-left: 62px;
    padding-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    margin-bottom: 85px;
  }

  .form__programm-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 44px;
  }

  .form__wrapper {
    width: 1220px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
  }

  .form__description {
    width: 328px;
    padding-left: 0;
  }

  .form__element {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .form__mail-icon {
    position: absolute;
    left: 532px;
  }

  .form__phone-icon {
    position: absolute;
    right: 18px;
  }

  .form__element:last-child {
    padding-bottom: 0;
  }

  .form__item {
    display: flex;
    height: 168px;
    width: 570px;
    margin-bottom: 0;
  }

  .form__item-mass {
    display: flex;
    width: 568px;
    min-height: 168px;
    padding-top: 26px;
    padding-bottom: 0;
    margin: 0;
  }

  .form__programm-item {
    padding-left: 87px;
  }

  .form__items-title {
    padding-left: 0;
  }

  .form__items-title::before {
    width: 705px;
    left: 555px;
  }

  .form__items-title::after {
    left: -70px;
  }

  .form__human-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .form__element--mail,
  .form__element--phone {
    width: 570px;
    padding-bottom: 0;
  }

  .form-coment__title {
    padding-top: 16px;
    padding-left: 0;
  }

  .form-coment__title::before {
    top: 39px;
    width: 1040px;
    left: 220px;
  }

  .form-coment__title::after {
    top: 39px;
    left: -70px;
  }

  .form__comment-area {
    width: 1219px;
    margin: 0 auto;
  }

  .form__extra-fields-title {
    padding-top: 22px;
    padding-left: 0;
    padding-bottom: 52px;
  }

  .form__extra-fields-title::before {
    top: 45px;
    width: 1007px;
    left: 253px;
  }

  .form__extra-fields-title::after {
    left: -70px;
  }

  .form__extra {
    justify-content: flex-start;
  }

  .form__extra-item {
    width: 180px;
    padding-left: 59px;
    margin-bottom: 36px;
  }

  .form__extra-item:nth-child(odd) {
    margin-right: 46px;
    padding-left: 59px;
  }

  .form__extra-item:first-child {
    margin-right: 86px;
  }

  .form__extra-item:nth-child(2) {
    margin-right: 86px;
  }

  .form__extra-item:nth-child(3) {
    margin-right: 86px;
  }

  .form__extra-item:last-child {
    margin-right: 0;
  }

  .form__button {
    margin-left: 0;
    width: 570px;
  }

  .form__note {
    padding-left: 82px;
  }
}
