/*coment*/
.page-footer {
  display: flex;
  background-color: $page-footer-background-color;
}

.page-footer__wrapper {
  //width: 280px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  //margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-footer__logo {
  padding-top: 42px;
  padding-bottom: 26px;
}

.page-footer__social {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.page-footer__social-item {
  display: flex;
  align-items: center;
}

.page-footer__social-list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  width: 142px;
  min-width: 140px;
  min-height: 65px;
  list-style: none;
}

.page-footer__social::before {
  position: absolute;
  content: "";
  //width: 280px;
  width: 100%;
  height: 1px;
  background-color: $page-footer-social-before-color;
  top: 0;
  //left: -70px;
}

.page-footer__copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 30px;
  padding-bottom: 10px;
  //align-self: stretch;
}

.page-footer__copyright::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: $page-footer-copyright-before-color;
  top: -1px;
  left: 0;
}

.page-footer__social-icon-svg-vk {
  padding-left: 4px;
  fill: $copyright-social-svg-fill;
  cursor: pointer;
}

.page-footer__social-icon-svg-vk:hover {
  fill: $page-footer-social-icon-svg-vk-hover-fill;
  transition: fill 0.3s ease;
}

.page-footer__social-icon-svg-vk:active {
  fill: $page-footer-social-icon-svg-vk-active-fill;
  opacity: 0.3;
  transition: fill 0.5s ease, opacity 0.5s ease;
}

.page-footer__social-icon-svg-insta {
  padding-right: 4px;
  fill: $copyright-social-svg-fill;
  cursor: pointer;
}

.page-footer__social-icon-svg-insta:hover {
  fill: $page-footer-social-icon-svg-vk-hover-fill;
  transition: fill 0.3s ease;
}

.page-footer__social-icon-svg-insta:active {
  fill: $page-footer-social-icon-svg-vk-hover-fill;
  opacity: 0.3;
  transition: fill 0.5s ease, opacity 0.5s ease;
}

.page-footer__social-icon-svg-fb {
  padding-right: 13px;
  fill: $copyright-social-svg-fill;
  cursor: pointer;
}

.page-footer__social-icon-svg-fb:hover {
  fill: $page-footer-social-icon-svg-vk-hover-fill;
  transition: fill 0.3s ease;
}

.page-footer__social-icon-svg-fb:active {
  fill: $page-footer-social-icon-svg-vk-hover-fill;
  opacity: 0.3;
  transition: fill 0.5s ease, opacity 0.5s ease;
}

.page-footer__img {
  cursor: pointer;
}

.page-footer__img:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
}

.page-footer__img:active {
  opacity: 0.6;
  transition: opacity 0.5s;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    padding-top: 27px;
    padding-bottom: 25px;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 708px;
    //width: auto;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
  }

  .page-footer__social::before,
  .page-footer__copyright::before {
    display: none;
  }

  .page-footer__logo {
    width: 250px;
    padding-top: 38px;
  }

  .page-footer__social {
    width: 300px;
  }

  .page-footer__social-icon-svg-vk {
    width: 30px;
    height: 16px;
    padding-top: 2px;
    padding-left: 18px;
  }

  .page-footer__social-icon-svg-insta {
    width: 23px;
    height: 23px;
    padding-top: 3px;
    padding-left: 2px;
  }

  .page-footer__social-icon-svg-fb {
    width: 14px;
    height: 28px;
    padding-top: 4px;
    padding-right: 0;
  }

  .page-footer__copyright {
    width: 290px;
    padding-top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-top: 22px;
    padding-bottom: 35px;
  }

  .page-footer__wrapper {
    width: 1220px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
  }

  .page-footer__logo {
    padding-top: 38px;
  }
}
