/*coment*/
.page-header {
  position: relative;
}

.page-header::after {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: $color-page-header-border;
}

@media (min-width: $tablet-width) {
  .page-header::after {
    top: 88px;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
  }

  .page-header__wrapper {
    //min-width: 768px;
    min-width: 768px;
    max-width: 1050px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    min-width: 1050px;
    max-width: 1150px;
    margin: 0 auto;
  }
}
