/*coment*/
.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo-image {
  padding-top: 11px;
  padding-bottom: 11px;
}

.page-header__wrapper {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-header {
    padding-top: 19px;
  }

  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
  }

  .page-header__logo-image {
    width: 173px;
    height: 59px;
    padding-top: 5px;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  /*.about {
    margin-bottom: 25px;
  }*/
}
