/*coment*/
.product-best {
  position: relative;
  padding-bottom: 42px;
}

.product-best::after {
  content: "";
  position: absolute;
  background-image: url("../img/bg-zigzag-line.svg");
  width: 100%;
  height: 7px;
  bottom: 0;
  background-repeat: repeat-x;
  background-size: 320px 100%;
  background-position: 50% 100%;
  transform: rotate(180deg);
}

.product-best__wrapper {
  /*width: 260px;
  margin: 0 auto;*/
  width: auto;
  padding-left: 8.6%;
  padding-right: 8.6%;
  display: flex;
  flex-direction: column;
}

.product-best__header {
  padding-bottom: 23px;
}

.product-best__title {
  @include margin-padding-reset;
  color: $color-description-title;
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  font-size: 25px;
  line-height: 30px;
  padding-bottom: 4px;
}

.product-best__product-week {
  color: $color-product-best-week;
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
}

.product-best__description {
  @include margin-padding-reset;
  color: $color-product-best-text;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 18px;
}

.product-best__specifications {
  color: $color-product-best-text;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  border-collapse: collapse;
  margin-bottom: 28px;
}

.product-best__feature {
  border-bottom: 1px solid $color-table-border-feature;
}

.product-best__options {
  padding-right: 13px;
  padding-top: 8px;
  padding-bottom: 11px;
}

.product-best__photo {
  /*width: 260px;
  height: 315px;*/
  width: auto;
  background-color: $color-body-background-description;
  margin-bottom: 25px;
}

.product-best__photo picture {
  display: flex;
  flex-direction: column;
  min-height: 315px;
}

.product-best__photo img {
  width: 100%;
  height: auto;
}

.product-best__price {
  color: $color-product-best-price;
  display: flex;
  justify-content: center;
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  padding-bottom: 25px;
}

.product-best__order-button {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .product-best {
    padding-bottom: 15px;
    margin-bottom: 49px;
  }

  .product-best::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    //display: block;
    width: 100%;
    min-width: 768px;
    height: 17px;
    max-height: 23px;
    margin: 0;
    margin-top: 26px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    transform: rotate(180deg);
  }

  .product-best__wrapper {
    /*width: 668px;
    margin: 0 auto;*/
    width: auto;
    padding-left: 06%;
    padding-right: 06%;
  }

  .product-best__elements-wrapper {
    min-width: 662px;
    height: 465px;
    display: flex;
    flex-flow: column wrap;
  }

  .product-best__header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    order: 0;
    padding-bottom: 30px;
  }

  .product-best__description {
    display: flex;
    width: 282px;
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 35px;
    order: 2;
  }

  .product-best__specifications {
    border-collapse: collapse;
    width: 290px;
    margin-left: 0;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 56px;
    order: 3;
  }

  .product-best__price {
    width: 287px;
    align-self: flex-start;
    align-items: center;
    font-family: "Open-Sans-Bold", "Arial", sans-serif;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 34px;
    order: 4;
  }

  .product-best__order-button {
    width: 290px;
    order: 5;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .product-best__title {
    @include margin-padding-reset;
    font-family: "Open-Sans-Bold", "Arial", sans-serif;
    font-size: 43px;
    line-height: 50px;
  }

  .product-best__options {
    width: 67px;
    padding-right: 26px;
    padding-bottom: 11px;
  }

  .product-best__product-week {
    width: 70px;
    padding-top: 12px;
    padding-bottom: 24px;
    padding-right: 28px;
    text-align: center;
    line-height: 17px;
  }

  .product-best__photo {
    width: 333px;
    height: 404px;
    order: 6;
    align-self: flex-end;
    margin-top: 8px;
    margin-bottom: 0;
  }

  .product-best__photo img {
    width: 333px;
    height: 404px;
  }

  .product-best__feature {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .product-best {
    margin-bottom: 23px;
    background-size: 0;
  }

  .product-best::after {
    position: absolute;
    bottom: 36px;
    left: 50%;
    width: 1050px;
    height: 23px;
    margin: 0;
    margin-left: -526px;
    padding-top: 0;
    background-position: 50% 50%;
    transform: rotate(180deg);
  }

  .product-best__wrapper {
    width: 1050px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 90px;
  }

  .product-best__elements-wrapper {
    position: relative;
    max-width: 1050px;
    min-height: 700px;
  }

  .product-best__header {
    width: 652px;
    position: absolute;
    z-index: 1;
    padding-top: 90px;
    padding-bottom: 37px;
    padding-left: 45px;
    flex-direction: row-reverse;
  }

  .product-best__product-week {
    padding-right: 0;
    padding-top: 15px;
  }

  .product-best__title {
    font-family: "Open-Sans-Bold", "Arial", sans-serif;
    font-size: 53px;
    line-height: 57px;
  }

  .product-best__description {
    padding-top: 195px;
    padding-left: 175px;
    padding-bottom: 49px;
  }

  .product-best__specifications {
    width: 296px;
    margin-left: 173px;
    margin-bottom: 108px;
  }

  .product-best__price {
    width: 150px;
    padding-bottom: 35px;
    padding-left: 245px;
  }

  .product-best__order-button {
    margin-left: 176px;
  }

  .product-best__options {
    padding-top: 8px;
    padding-bottom: 11px;
    padding-right: 30px;
  }

  .product-best__value {
    padding-top: 8px;
    padding-bottom: 11px;
  }

  .product-best__photo {
    width: 525px;
    height: 636px;
    margin-top: 38px;
  }

  .product-best__photo img {
    width: 525px;
    height: 636px;
  }
}
