/*coment*/
.promo {
  position: relative;
  margin-bottom: 22px;
}

.promo::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 305px;
  top: 0;
  right: 0;
  background-color: #63a73a;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-size: auto 305px;
  background-repeat: no-repeat;
  background-position: center top;
  z-index: -1;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/index-background-mobile@2x.jpg");
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  //width: 280px;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  //margin: 0 auto;
}

/*.promo__img-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}*/

.promo__header {
  background-color: $promo-header-background-color;
}

.promo__header-title {
  @include margin-padding-reset;
  width: 253px;
  font-family: "Oswald", "Arial", sans-serif;
  padding-top: 27px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: $promo-title-text-color;
}

.promo__slogan {
  color: $promo-slogan-text-color;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  padding-bottom: 28px;
}

.promo__link {
  display: flex;
  width: 100%;
  justify-content: center;
  color: $promo-link-text-color;
  background-color: $promo-link-button-color;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.promo__link:hover {
  background-color: $promo-link-hover-background-color;
  transition: 0.5s, background 0.5s ease;
}

.promo__link:active {
  background-color: $promo-link-hover-background-color;
  color: $promo-link-hover-color;
  transition: 0.5s, background 0.5s ease, color 0.5s ease;
}

@media (min-width: $tablet-width) {
  .promo {
    //width: 768px;
    margin: 0 auto;
    width: auto;
    background-image: none;
  }

  .promo::after {
    display: none;
  }

  .promo__wrapper {
    //width: 708px;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
  }

  .promo__header-title {
    order: 0;
    width: 418px;
    color: $promo-header-title-tablet-color;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 43px;
    padding-left: 87px;
  }

  .promo__slogan {
    order: 1;
    color: $promo-header-slogan-tablet-color;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 88px;
    padding-bottom: 47px;
  }

  .promo__link {
    position: relative;
    width: 245px;
    order: 2;
    z-index: 2;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 17px;
    padding-bottom: 15px;
    margin-left: 88px;
  }

  .promo__img-wrapper {
    position: relative;
    //width: 709px;
    width: auto;
    height: 609px;
    order: 3;
    z-index: 1;
    margin-top: -80px;
  }

  .promo__img {
    width: 709px;
    height: 609px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    width: 1300px;
    margin: 0 auto;
    margin-bottom: 269px;
    background-image: none;
  }

  .promo__wrapper {
    position: relative;
    width: 1220px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
  }

  .promo__header-title {
    padding-top: 102px;
    padding-left: 80px;
    padding-bottom: 40px;
  }

  .promo__slogan {
    padding-left: 80px;
    padding-bottom: 53px;
  }

  .promo__link {
    margin-left: 79px;
  }

  .promo__img {
    width: 552px;
    height: 499px;
  }

  .promo__img-wrapper {
    position: absolute;
    width: 552px;
    max-width: 552px;
    height: 499px;
    left: 487px;
    top: 100px;
  }
}
