/*coment*/
.site-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-list__item a {
  display: flex;
  flex-direction: column;
  padding-top: 23px;
  padding-bottom: 23px;
  color: $cmain-nav-menu-text-color;
}

.site-list__item::before {
  content: "";
  position: absolute;
  left: -20px;
  width: 320px;
  height: 1px;
  background-color: $main-menu-border-color;
}

@media (min-width: $tablet-width) {
  .site-list__item {
    padding-right: 36px;
  }

  .site-list__item:nth-child(3) {
    padding-right: 0;
  }

  /*.site-list__item:first-child {
    padding-left: 0;
  }*/

  .site-list__item::before {
    display: none;
  }

  .site-list__item a {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.86px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item a {
    color: $main-nav-menu-text-color-desktop;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.86px;
  }

  .site-list__item {
    padding-right: 34px;
  }
}
