@mixin outline-block {
  box-shadow: inset 0 0 0 2px rgb(168, 16, 255);
}

@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin margin-padding-reset {
  padding: 0;
  margin: 0;
}
