/*index-color*/
$color-main-text: #444444;
$cmain-nav-menu-text-color: #111111;
$main-nav-menu-text-color-desktop: #ffffff;
$color-body-background: #ffffff;
$promo-title-text-color: #ffffff;
$promo-slogan-text-color: #ffffff;
$promo-link-text-color: #ffffff;
$promo-header-background-color: #68b738;
$promo-link-button-color: #68b738;
$categories-title-color: #111111;
$categories-description-color: #444444;
$categories-link-color: #111111;
$advantage-title-color: #111111;
$advantage-list-color: #444444;
$example-title-color: #111111;
$example-description-color: #444444;
$example-mass-color: #111111;
$example-weight-color: #444444;
$example-coast-color: #111111;
$example-button-text-color: #111111;
$contacts-invite-text-color: #111111;
$contacts-adress-text-color: #444444;
$copyright-text-color: #444444;
$catalog-headet-title-color: #111111;
$catalog-product-title-color: #111111;
$catalog-product-characteristic-color: #444444;
$catalog-product-buy-color: #ffffff;
$catalog-product-buy-background-color: #68b738;
$catalog-more-product-title-color: #111111;
$catalog-more-product-description-color: #444444;
$catalog-more-product-show-color: #444444;
$catalog-more-product-show-background-color: #f2f2f2;
$catalog-other-goods-title-color: #111111;
$catalog-other-goods-item-title-color: #222222;
$catalog-other-goods-price-tible-color: #444444;
$catalog-other-goods-button-color: #ffffff;
$catalog-other-goods-button-background-color: #68b738;
$catalog-present-description-color: #ffffff;
$form-header-title-color: #111111;
$form-description-color: #111111;
$form-element-color-label: #222222;
$form-element-color-input: #444444;
$form-program-items: #222222;
$form-items-title: #111111;
$form-coment-area: #444444;
$form-extra-fields-title: #111111;
$form-extra: #222222;
$form-button: #ffffff;
$form-button-background-color: #68b738;
$form-note-color: #444444;
$main-menu-border-color: #d9d9d9;
$categories-item-background-color: #f2f2f2;
$cadvantages-item-background-before-color: #68b738;
$example-background-color: #f2f2f2;
$example-result-before-color: #cdcdcd;
$example-weight-time-background-color: #f2f2f2;
$example-button-background-color: #f2f2f2;
$example-rectangle-background-color: #ffffff;
$example-rectangle-border-color: #cdcdcd;
$example-rectangle-before-color: #68b738;
$page-footer-background-color: #f2f2f2;
$page-footer-social-before-color: #d9d9d9;
$page-footer-copyright-before-color: #d9d9d9;
$promo-header-title-tablet-color: #111111;
$promo-header-slogan-tablet-color: #111111;
$backgroundt-color-image-wrapper: #f2f2f2;
$advantages-item-after-color: #f2f2f2;
$example-backgroun-color-tablet: #ffffff;
$example-before-background-color: #f2f2f2;
$example-after-background-color: #eaeaea;
$example-rectangle-background-before-color: #ffffff;
$example-rectangle-border-before-color: #cdcdcd;
$example-rectangle-background-after-color: #68b738;
$page-header-after-background-desktop-color: #64a83b;
$contacts-wrapper-background-color: #ffffff;
$product-beforeline-color: #e6e6e6;
$other-goods-title-beforeline-color: #68b738;
$catalog-item-present-description-text-color: #ffffff;
$present-before-line-color: #cdcdcd;

$catalog-item-after-background-color: #f2f2f2;
$catalog-product-characteristic-border-color: #cdcdcd;
$catalog-more-products-border-color: #e6e6e6;

$catalog-other-goods-title-background-color: #ffffff;

/*variable-tablet-desktop-width*/
$tablet-width: 768px;
$desktop-width: 1300px;
/*mobile-menu*/
$mobile-width-only: 767px;
/*retina*/
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
