/*index-color*/
$color-main-text: #444444;
$cmain-nav-menu-text-color: #111111;
$main-nav-menu-text-color-desktop: #ffffff;
$main-nav-background-color: #ffffff;
$main-nav-list-background-color: #ffffff;
$color-body-background: #ffffff;
$promo-title-text-color: #ffffff;
$promo-slogan-text-color: #ffffff;
$promo-link-text-color: #ffffff;
$promo-header-background-color: #68b738;
$promo-link-button-color: #68b738;
$categories-title-color: #111111;
$categories-description-color: #444444;
$categories-link-color: #111111;
$advantage-title-color: #111111;
$advantage-list-color: #444444;
$example-title-color: #111111;
$example-description-color: #444444;
$example-mass-color: #111111;
$example-weight-color: #444444;
$example-coast-color: #111111;
$example-button-text-color: #111111;
$contacts-invite-text-color: #111111;
$contacts-adress-text-color: #444444;
$site-list-item-active-index-after-background-color: #68b738;
$site-list-item-active-index-after-background: #ffffff;
$contacts-background-color: #f2f2f2;
$copyright-link-hover-fill: #68b738;
$copyright-link-active-fill: #68b738;
$copyright-text-color: #444444;
$catalog-headet-title-color: #111111;
$catalog-header-before-background-color: #e6e6e6;
$catalog-header-after-background-color: #e6e6e6;
$catalog-item-after-background-color: #e6e6e6;
$catalog-product-buy-hover-background-color: #5eaa2f;
$catalog-product-buy-active-background-color: #5eaa2f;
$catalog-more-products-after-background-color: #e6e6e6;
$catalog-more-products-show-hoverr-background-color: #ebebeb;
$catalog-more-products-show-active-color: #b9b9b9;
$catalog-other-goods-item-before-background-color: #cdcdcd;
$catalog-other-goods-button-hover-background-color: #5eaa2f;
$catalog-other-goods-button-active-color: #8ec46d;
$catalog-product-title-color: #111111;
$catalog-product-characteristic-color: #444444;
$catalog-product-buy-color: #ffffff;
$catalog-product-buy-background-color: #68b738;
$catalog-more-product-title-color: #111111;
$catalog-more-product-description-color: #444444;
$catalog-more-product-show-color: #444444;
$catalog-more-product-show-background-color: #f2f2f2;
$catalog-other-goods-title-color: #111111;
$catalog-other-goods-item-title-color: #222222;
$catalog-other-goods-price-tible-color: #444444;
$catalog-other-goods-button-color: #ffffff;
$catalog-other-goods-button-background-color: #68b738;
$catalog-present-description-color: #ffffff;
$form-header-title-color: #111111;
$form-description-color: #111111;
$form-element-color-label: #222222;
$form-element-color-input: #444444;
$form-program-items: #222222;
$form-items-title: #111111;
$form-coment-area: #444444;
$form-extra-fields-title: #111111;
$form-extra: #222222;
$form-button: #ffffff;
$form-button-background-color: #68b738;
$form-note-color: #444444;
$form-element-mail-phone-active-svg-fill: #68b738;
$form-header-before-background-line-color: #e6e6e6;
$main-menu-border-color: #d9d9d9;
$categories-item-background-color: #f2f2f2;
$cadvantages-item-background-before-color: #68b738;
$example-background-color: #f2f2f2;
$example-result-before-color: #cdcdcd;
$example-weight-time-background-color: #f2f2f2;
$example-button-background-color: #f2f2f2;
$example-rectangle-background-color: #ffffff;
$example-rectangle-border-color: #cdcdcd;
$example-rectangle-before-color: #68b738;
$page-footer-background-color: #f2f2f2;
$page-footer-social-before-color: #d9d9d9;
$page-footer-copyright-before-color: #d9d9d9;
$promo-header-title-tablet-color: #111111;
$promo-header-slogan-tablet-color: #111111;
$promo-link-hover-background-color: #5eaa2f;
$promo-link-hover-color: #8ec46d;
$backgroundt-color-image-wrapper: #f2f2f2;
$advantages-item-after-color: #f2f2f2;
$advantages-after-background-color: #e6e6e6;
$example-backgroun-color-tablet: #ffffff;
$example-before-background-color: #f2f2f2;
$example-after-background-color: #eaeaea;
$example-rectangle-background-before-color: #ffffff;
$example-rectangle-border-before-color: #cdcdcd;
$example-rectangle-background-after-color: #68b738;
$page-header-after-background-desktop-color: #64a83b;
$contacts-wrapper-background-color: #ffffff;
$product-beforeline-color: #e6e6e6;
$other-goods-title-beforeline-color: #68b738;
$catalog-item-present-description-text-color: #ffffff;
$present-before-line-color: #cdcdcd;
$catalog-item-after-background-color: #f2f2f2;
$catalog-product-characteristic-border-color: #cdcdcd;
$catalog-more-products-border-color: #e6e6e6;
$catalog-other-goods-item-border: #cdcdcd;
$catalog-other-goods-item-child: #cdcdcd;
$contacts-invite-address-wrapper-background-color: #ffffff;
$contacts-background-form-color: #f2f2f2;
$catalog-other-goods-title-background-color: #ffffff;
$catalog-product-buy-active-color: #8ec46d;
$categories-title-after-background-color: #68b738;
$form-item-after-background-color: #ededed;
$form-item-mass-background-color: #ededed;
$form-programm-label-before-border-color: #cecece;
$form-input-radio-checked-background-color: #68b738;
$form-comment-area-border-color: #e6e6e6;
$form-label-extra-before-border-color: #e6e6e6;
$form-items-title-before-line-color: #68b738;
$form-input-text-input-background-color: #ffffff;
$form-input-text-hover-border-color: #cdcdcd;
$form-input-text-active-outline-color: #444444;
$form-comment-area-background-color: #ffffff;
$form-comment-area-background-color: #ffffff;
$form-button-hover-active-background-color: #5eaa2f;
$form-button-active-color: #8ec46d;
$form-programm-item-label-hover-border-color: #bababa;
$form-programm-item-label-active-border-color: #efefef;
$form-programm-item-label-checked-background-color: #d2e9c3;
$formextra-item-label-hover-border-color: #bababa;
$formextra-item-label-active-border-color: #eaeaea;
$form-items-title-after-background-color: #68b738;
$form-coment-title-after-background-color: #68b738;
$form-extra-fields-title-after-background-color: #68b738;
$form-element-input-border-color: #e6e6e6;
$form-extra-fields-title-beforebackground-color: #68b738;
$form-coment-title-before-beforebackground-color: #68b738;
$form-item-mass-border-color: #e6e6e6;
$catalog-item-cart-svg-fill: #ffffff;
$copyright-logo-htmlacademy-svg-fill: #666666;
$copyright-social-svg-fill: #666666;
$page-footer-social-icon-svg-vk-hover-fill: #68b738;
$page-footer-social-icon-svg-vk-active-fill: #68b738;
/*variable-tablet-desktop-width*/
$tablet-width: 768px;
$desktop-width: 1300px;
/*mobile-menu*/
$mobile-width-only: 767px;
/*retina*/
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
