/*index-color*/
$color-main-text: #444444;
$color-body-background: #ffffff;
$color-body-background-description: #fbfbfb;
$color-description-background: #fafafa;
$color-main-menu-link: #000000;
$color-main-menu-background: #ffffff;
$color-main-menu-shadow: #ececec;
$color-main-menu-search-border: #ececec;
$color-description-title: #010000;
$color-description-type-text: #ffffff;
$color-description-type-interior: #63d1bb;
$color-description-type-toys: #56c3b2;
$color-description-type-interior-active: #59d5bc;
$color-description-type-toys: #56c3b2;
$color-description-type-toys-active: #46c1ae;
$color-product-best-title: #000000;
$color-product-best-week: #63d1bb;
$color-product-best-text: #444444;
$color-product-best-price: #444444;
$color-button-background: #ffffff;
$color-table-border-feature: #ececec;
$color-button-border: #444444;
$color-button-text: #444444;
$color-about-title: #000000;
$color-about-list-text: #000000;
$color-reviews-title: #000000;
$color-reviews-text: #444444;
$color-contacts-adress-underline: #46c1ae;
$color-reviews-author-name: #000000;
$color-reviews-author-insta: #444444;
$color-navigation-toggles-background: #ffffff;
$color-navigation-toggles-border: #ececec;
$color-contacts-title: #000000;
$color-contacts-mail: #444444;
$color-copyright-text: #000000;
$color-main-nav-background: #ffffff;
$color-footer-social-border: #e5e5e5;
$color-page-header-border: #ececec;
$color-icon-search-hover: #63d1bb;
$color-interior-icon-hover: #149080;
$color-coperight-link-academy: #63d1bb;
$color-copyright-link-academy-hover: #46c1ae;
$color-cart-icon-hover: #63d1bb;
$color-form-option-wrapper-hover-svg: #62d1ba;
$color-footer-logo-img-hover: #46c1ae;

/*modal-color*/
$color-modal-title: #000000;
$color-modal-text: #444444;
$color-modal-size-border: #ececec;
$color-modal-size-border-active: #63d1bb;
$color-modal-size-background: #ffffff;
$color-basket-button-background: #63d1bb;
$color-basket-button-text: #ffffff;
$color-background-modal: #ffffff;
$color-text-modal-active: #ffffff;
$color-background-modal-hover: #59d5bc;
$color-border-modal-hover: #c7c7c7;
/*catalog-color*/
$color-catalog-title: #000000;
$color-catalog-items-title: #000000;
$color-catalog-items-option: #444444;
$color-catalog-items-price: #000000;
$color-catalog-production-title: #000000;
$color-catalog-production-text: #444444;
$color-catalog-background-title: #f1f1f1;
$color-catalog-wrapper-description: #ececec;
$color-catalog-items-border: #ececec;
$color-catalog-items-buy: #ececec;
$color-catalog-production-border: #ececec;
$color-catalog-item-main-border: #ececec;

/*form-color*/
$color-form-title: #000000;
$color-form-description: #444444;
$color-form-item-decorate: #63d1bb;
$color-form-accessory-label: #000000;
$color-form-toy-label: #000000;
$color-form-element-type-label: #444444;
$color-form-element-type-input: #62d1ba;
$color-form-item-color-label: #000000;
$color-form-title-backgroundl: #f1f1f1;
$color-options-background: #f1f1f1;
$color-order-form-item-after: #63d1bb;
$color-order-form-option-input: #000000;
$color-order-form-textarea-border: #444444;
$color-order-form-textarea-background: #ffffff;

/*footer-color*/
$color-footer-background: #f1f1f1;
/*variable-tablet-desktop-width*/
$tablet-width: 768px;
$desktop-width: 1150px;
/*mobile-menu*/
$mobile-width-only: 767px;
/*active*/
$color-description-interior-hover: #59d5bc;
$color-description-toys-hover: #46c1ae;
$color-background-button-hover: #444444;
$color-text-button-hover: #ffffff;
$color-text-button-active: #7c7c7c;
$color-e-mail-link-hover: #46c1ae;
$color-form-border-label-hover: #62d1ba;
$color-form-border-label-active: #444444;
/*retina*/
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
